<!-- パンくずリスト -->
<% breadcrumb :user_show, @user %>

<div class="container my-5">

    <!-- タイトル -->
    <div class="text-center">
    <h1><%= @user.name %>のページ</h1>
    </div>

    <!-- ユーザー詳細 -->
    <div class="user-show-form">
        <%= image_tag(@user.profile_image.url, class: "my-5 ms-5 rounded-circle user-image") %>
        <div class="user-show-text">
            <h2 class="ms-5 fw-bold">
                <%= @user.name %>
            </h2>
            <h2 class="ms-5 my-3 fw-bold">
                <%= @user.comment %>
            </h2>
        </div>

        <div class="user-show-tag">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    HOME
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    PROFILE
                </div>
            </div>
        </div>