<footer id="page-footer" class="bg-danger text-white text-center p-4">
  <div class="container">
      <div class="row">
          <div class="col">
              <p>Copyright @ 2024 ゲキカラ、ドウ？</p>
          </div>
      </div>
  </div>
</footer>