<header>
    <nav class="navbar navbar-expand-lg">

        <div class="container">
            <!-- ハンバーガーメニュー -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ナビゲーション -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="container navbar-nav d-flex justify-content-end fw-bold">
                    <li class="nav-item">
                        <%= link_to 'HOME', root_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'ゲキカラ、ドウ？について', about_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to '会員登録・ログイン', login_path, class: "nav-link" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
