<header>
    <nav class="navbar navbar-expand-lg navigation">

        <div class="container-fluid">
            <!-- ハンバーガーメニュー -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto fw-bold me-5">
                    <li class="nav-item">
                        <%= link_to 'HOME', root_path, class: "nav-link text-secondary" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'ゲキカラ、ドウ？について', about_path, class: "nav-link text-secondary" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to '会員登録・ログイン', login_path, class: "nav-link text-secondary" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
