

<div class="container mt-5">
  <div class="about-form">
    <h2 class="text-primary mb-4">ゲキカラ、ドウ？とは</h2>
    <p class="mb-0">ゲキカラ、ドウは、激辛料理愛好家のための究極のアプリです。</p>
    <p class="mb-5">日本全国の激辛メニューを簡単に探せ、あなたの辛さ耐性に合わせた料理を見つけることができます。</p>
 
    <h3 class="text-primary mb-4">主な機能：</h3>
    <h4>1. 激辛メニュー検索</h4>
    <p class="mb-0">国、食品カテゴリ、価格帯、キーワードから食品を検索できます。
    <p class="mb-3">また、位置情報を利用して近くの激辛料理店も見つけられます。</p>
 
    <h4>2. お気に入り食品登録</h4>
    <p class="mb-3">気に入った激辛食品を登録し、いつでも簡単にアクセスできます。</p>

    <p class="mt-4">ゲキカラ、ドウで、あなたの激辛体験をさらに豊かにしましょう！</p>
  </div>
</div>