<h1>検索結果</h1>

<% if @foods.present? %>
  <ul>
    <% @foods.each do |food| %>
      <li><%= food.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>該当する食品が見つかりませんでした。</p>
<% end %>

<%= link_to '検索ページに戻る', root_path %>
