/* bootstrapの読み込み（8/9追加） */
@import "bootstrap";
@import "bootstrap-icons";
@import "bootswatch/bootstrap";

main {
  flex-grow: 1;
}

/* 共通画面のCSS（8/15追加） */
:root {
  --bs-primary: #fda085;
  --bs-primary-rgb: 253, 160, 133;
}

.background {
	background-color: #fafafa;	//背景色
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; 
  padding: 0 15px;
}

@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 577px) and (max-width: 769px) {
	.container {
		max-width: 540px;
	}	
}

@media (min-width: 769px) and (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 993px) {
	.container {
		max-width: 960px;
	}
}

.border-custom {
	color: #fda085; 
	border-width: 1px;
	border-style: solid;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title::before, 
.title::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #f6d365;
}

.title::before {
	margin-right: 20px; /* 左側にスペースを追加 */
}

.title::after {
	margin-left: 20px; /* 右側にスペースを追加 */
}

.subtitle p {
	color: #494949;/*文字色*/
	border-left: solid 5px #f6d365;/*左線*/
}

/* 検索画面(food#search)のCSS（8/15追加） */
.search-background {
background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.search-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.search-form {
	margin: 0 auto;
	padding: 3em 5em;
	max-width: 960px;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
}

.search-border {
	border-width: 2px;
	border-radius: 10px;
}

.search-btn {
	background-color: #1ABC9C;
	color: #fff;
	width: 100%; 
	font-weight: bold;
	border: none;
  cursor: pointer; /* カーソルをポインターに */
  transition: background-color 0.3s ease;
}

.search-btn:hover {
	background-color: #179b84; /* ホバー時の背景色 */
}

/* 検索結果一覧画面(food#index)のCSS（8/15追加） */
.index-form {
	margin-top: 30px;
	background: #fff;
	padding: 2rem 2rem;
}

.index-card {
	border: 4px solid;
	border-radius: 10px;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.index-card:hover {
	transform: scale(1.05); /* カードを少し拡大 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

.index-food-image {
	width: 100px;
	height: auto;
	object-fit: contain; /* 画像全体を表示 */
}

.index-card h5 {
	color: #1ABC9C;
}

.index-food-image {
	width: 100%;
	max-width: none;
	height: 200px;
}

/* 食品詳細画面（food#show）のCSS（8/15追加） */
.show-food-form {
	margin-top: 30px;
	background: #fff;
	padding: 2rem 2rem;
}

.show-food-image {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.unfavorite-btn {
	background-color: #f6d365;
	color: #fff;
	width: 200px;
	font-weight: bold;
	border: none;
  cursor: pointer; /* カーソルをポインターに */
  transition: background-color 0.3s ease;
}

.unfavorite-btn:hover {
	background-color: #e5b354; /* ホバー時の背景色 */
}

.favorite-btn {
	outline-color: #f6d365;
  outline-style: solid;
  outline-width: 2px;
	color: #000;
	width: 200px;
	font-weight: bold;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.favorite-btn:hover {
	background-color: #f6d365; /* ホバー時の背景色 */
	color: #fff; /* ホバー時のテキスト色 */
}

.show-food-form h2 {
	color: #1ABC9C;
}

.post-btn {
	background-color: #f6d365;
	color: #fff;
	width: 200px;
	font-weight: bold;
	border: none;
  cursor: pointer; /* カーソルをポインターに */
  transition: background-color 0.3s ease;
}

.post-btn:hover {
	background-color: #e5b354; /* ホバー時の背景色 */
}

.show-review-form {
	margin-top: 30px;
	background: #fff;
	padding: 2rem 2rem;
}
	
.show-review-flex {
display: flex; /* フレックスボックスを使用 */
align-items: center; /* 垂直方向に中央揃え */
justify-content: space-between;
}

.show-review-icon {
font-size: 24px;
}

.show-review-unique-title {
margin-bottom: 20px;
}

.show-review-unique-title .btn {
border: 4px solid white;
border-radius: 10px;
width: 200px;
font-weight: bold; /* 文字を太くする */
font-size: 1.5rem;
}

.show-review {
height: 150px;
width: 800px;
}

/* ユーザー詳細画面（user#show）のCSS（8/15追加） */
.user-show-form {
	margin-top: 30px;
	background: #fff;
	padding: 2rem 2rem;
}

.user-image {
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #494949;
	display: block;
	margin: 0;
}	

.favorite-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.favorite-tab h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}
.favorite-tab h2:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f6d365;
  border-radius: 2px;
}

.favorite-food-form {
	background: #fff;
	padding: 20px;
}

.favorite-food-unique-title {
	margin-bottom: 20px;
}

/* 食品レビュー投稿画面（review#new）のCSS（8/22追加） */
.review-form {
	margin-top: 30px;
	background: #fff;
	padding: 2rem 2rem;
}

.review-form h2 {
	color: #1ABC9C;
}

.review-image {
	width: 200px;
	height: auto;
	object-fit: contain; /* 画像全体を表示 */
}

.spice-level {
  display: flex;
}

.spice-level i {
	font-size: 30px;
	cursor: pointer;
	color: #cccccc; /* デフォルトの色 */
	margin-right: 5px;
}

.spice-level i.selected {
	color: red !important; /* 選択されたアイコンの色 */
}

.review-btn {
	background-color: #f6d365;
	color: #fff;
	width: 200px;
	font-weight: bold;
	border: none;
  cursor: pointer; /* カーソルをポインターに */
  transition: background-color 0.3s ease;
}

.review-btn:hover {
	background-color: #e5b354; /* ホバー時の背景色 */
}

/* 食品レビュー投稿画面（page#about）のCSS（8/23追加） */
.about-form {
	position: absolute;
	margin-top: 30px;
	padding: 3em 1em;
	width: 960px;
	background: #fff;
}

/* 新規登録画面（user#new）のCSS（8/25追加） */
.user-new-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fff;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

.user-new-container h1 {
	text-align: center;
  padding: 1em 1em;
	font-weight: bold;
}

.form-item {
	margin-bottom: 0.75em;
	width: 100%;
}

.form-item input {
background: #fff;
border: none;
border-bottom: 2px solid #1ABC9C;
height: 50px;
width: 100%;
}

.form-footer {
font-size: 1em;
padding: 2em 0;
text-align: center;
}

.form-footer a {
color: #494949;
text-decoration: none;
transition: border-color 0.3s;
}

.user-new-btn {
	background-color: #f6d365;
	text-align: center;
	color: #fff;
	width: 300px;
	font-weight: bold;
	border: none;
  cursor: pointer; /* カーソルをポインターに */
  transition: background-color 0.3s ease;
	margin-top: 20px;
}

.spice_level .review-form-input {
	width: 700px;
}

.user-new-btn:hover {
	background-color: #e5b354; /* ホバー時の背景色 */
}

/* パンくずリスト（8/25追加） */
.breadcrumbs-in li.bcl-last {
	color: #fda085;
}

.breadcrumbs-in a {
	color: #fda085;
}

/* ページネーション（8/25追加） */
.pagination .active .page-link {
	background-color: #fda085; /* 背景色をオレンジに設定 */
	border-color: #fda085; /* ボーダー色をオレンジに設定 */
	color: #fff; /* テキストの色を白に設定 */
}

.pagination .page-link {
	color: #fda085; /* 他のページリンクのテキスト色をオレンジに設定 */
}

.pagination .page-link:hover {
	background-color: #e68a5e; /* ホバー時の背景色を少し濃く */
	border-color: #e68a5e; /* ホバー時のボーダー色を少し濃く */
	color: #fff; /* ホバー時のテキスト色を白に設定 */
}

/* フラッシュメッセージ（8/25追加） */
.flash-message {
	padding: 1em 1em;
  margin: 0em 0em;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
}

@media (max-width: 576px) {
  footer {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  footer {
    font-size: 1rem;
  }
}