/* bootstrapの読み込み（8/9追加） */
@import "bootstrap";
@import "bootstrap-icons";
@import "bootswatch/bootstrap";

/* 共通画面のCSS（8/15追加） */
.background {
    background-color: #fafafa;
}

.container {
    width: 960px;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;  
}

/* 検索画面(food#search)のCSS（8/15追加） */
.search-background {
    background-image: url('back-ground.jpg');
    background-size: cover; /* 背景画像を要素のサイズに合わせる */
    background-repeat: no-repeat; /* 背景画像を繰り返さない */
    background-position: center; /* 画像を中央に配置 */
    height: 300px; /* 高さを300pxに設定 */
  }

.search-title {
    position: absolute; /* 位置を絶対指定 */
    top: 250px; /* 要素の上端からの高さ */
    left: 50%; /* 水平方向の中央に配置 */
    transform: translateX(-50%); /* 水平方向の中央揃えを補正 */
    text-align: center;
    font-size: 2rem; 
    color: #fff;
    font-weight: bold;
}

.search-form {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3em 1em;
    width: 960px;
    background: #fff;
    border: 10px solid;
    border-radius: 20px; /* 要素の角を丸くする */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.search-border {
    border-width: 4px;
    border-radius: 10px;
}

.search-detail {
    position: absolute;
    top: 900px;
}

.search-detail .btn {
    color: #fff;
    border: 4px solid white;
    border-radius: 10px;
    width: 200px;
    font-weight: bold; /* 文字を太くする */
}

.search-country, .search-category {
    color: yellow;
    font-weight: bold;
    max-width: 480px; /* 各セクションの最大幅 */
}

/* 検索結果一覧画面(food#index)のCSS（8/15追加） */
.index-form {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
    background: #fff;
}

.index-card {
    border: 4px solid;
    border-radius: 10px;
    height: 180px;
    width: 444px;
    transition: transform 0.2s, box-shadow 0.2s; /* スムーズな変化を追加 */
    display: flex;
    flex-direction: row;
}

.index-card:hover {
    transform: scale(1.05); /* カードを少し拡大 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

.index-food-image {
    width: 150px;
    height: auto;
    object-fit: cover /* 画像を切りとらない */
}

/* 食品詳細画面（food#show）のCSS（8/15追加） */
.show-food-form {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
    background: #fff;
}

.show-food-image {
    width: 500px;
    height: auto;
    object-fit: cover /* 画像を切りとらない */
}

.show-review-title {
    position: absolute;
    top: 900px;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
}

.show-review-form {
    position: absolute;
    top: 1080px;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
    background: #fff;
}

.show-review-card {
    border: 3px solid;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: row;
}

.show-review-card:hover {
    transform: scale(1.05); /* カードを少し拡大 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

/* ユーザー詳細画面（user#show）のCSS（8/15追加） */
.user-show-form {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
    height: 300px;

    /* 背景画像を上部に表示 */
    background-image: url('header.jpg');
    background-size: cover; /* 背景画像を要素のサイズに合わせる */
    background-repeat: no-repeat; /* 背景画像を繰り返さない */
    background-position: center; /* 画像を中央に配置 */
  }

.user-image {
    position: absolute;
    top: 100px;
    width: 300px;
    height: auto;
    background-color: #fff;
    border: 3px solid #fff;
}

.user-show-text {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
}

.user-show-tag {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
}

.user-show-tag .nav-tabs .nav-item {
    width: 480px; /* タブの幅を480pxに設定 */
}

.user-show-tag .nav-tabs .nav-link {
    text-align: center; /* テキストを中央に配置 */
    display: block; /* リンクをブロック要素として表示 */
}

/* 
---------------------------------------------
ログイン画面のCSS（8/15追加）
--------------------------------------------- 
*/

.form-wrapper {
    background: #fafafa;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}


form {
    padding: 0 1.5em;
}

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}

.form-item input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
}

.form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.form-footer {
    font-size: 1em;
    padding: 2em 0;
    text-align: center;
}

.form-footer a {
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s;
}

.form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
}

