/* bootstrapの読み込み（8/9追加） */
@import "bootstrap";
@import "bootstrap-icons";
@import "bootswatch/bootstrap";

/* 共通画面のCSS（8/15追加） */
.background {
    background-color: #fafafa;
}

.container {
    width: 960px;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;  
}

/* 検索画面(food#search)のCSS（8/15追加） */
.search-background {
    background-image: url('back-ground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30vh; /* ビューポートの高さの30%を最小の高さとして設定 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-title {
    padding: 5% 2%;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* レスポンシブなフォントサイズ */
    color: #fff;
    font-weight: bold;
}

.search-form {
    padding: 3em 1em;
    width: 90%;
    max-width: 960px; /* 最大幅を設定 */
    margin: -5% auto 5%; /* 上部のマージンをネガティブに設定してオーバーラップさせる */
    background: #fff;
    border: 10px solid;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.search-border {
    border-width: 4px;
    border-radius: 10px;
}

.search-detail {
    margin-top: 5%;
    margin-bottom: 5%;
}

.search-detail .btn {
    color: #fff;
    border: 4px solid white;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    font-weight: bold;
}

.search-country, .search-category {
    color: yellow;
    font-weight: bold;
    width: 100%;
    max-width: 480px; /* 各セクションの最大幅 */
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    .search-form {
        width: 95%;
        padding: 2em 0.5em;
    }

    .search-detail .btn {
        max-width: none;
    }
}

/* 検索結果一覧画面(food#index)のCSS（8/15追加） */
.index-form {
    width: 100%;
    width: 960px; /* 最大幅を設定 */
    margin: 0 auto;
    background: #fff;
    padding: 2rem 1rem;
}

.index-card {
    border: 4px solid;
    border-radius: 10px;
    height: auto;
    width: 100%;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.index-card:hover {
    transform: scale(1.05); /* カードを少し拡大 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

.index-food-image {
    width: 30%; /* カードの幅の30%に設定 */
    max-width: 150px;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .index-card {
        flex-direction: column;
    }

    .index-food-image {
        width: 100%;
        max-width: none;
        height: 200px;
    }
}

/* 食品詳細画面（food#show）のCSS（8/15追加） */
.show-food-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.show-food-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.show-review-flex {
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向に中央揃え */
    justify-content: space-between;
}

.show-review-icon {
    font-size: 24px;
}

.show-review-title {
    margin-bottom: 20px;
}

.show-review-title .btn {
    border: 4px solid white;
    border-radius: 10px;
    width: 200px;
    font-weight: bold; /* 文字を太くする */
    font-size: 1.5rem;
}

.show-review-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.show-review {
    height: 150px;
    width: 800px;
}

/* ユーザー詳細画面（user#show）のCSS（8/15追加） */
.user-show-form {
    background: #fff;
    padding: 20px;
}

.user-image {
    width:200px;
    height: auto;
    object-fit: cover;
}

.user-comment {
    font-size: 1.1rem;
    color: #6c757d;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .user-show-form {
        text-align: center;
    }
    
    .user-image {
        margin-bottom: 20px;
    }
}

.favorite-food-form {
    background: #fff;
    padding: 20px;
}

.favorite-food-title {
    margin-bottom: 20px;
}



/* 食品レビュー投稿画面（review#new）のCSS（8/22追加） */
.review-form {
    width: 100%;
    width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.review-image {
    width: 200px;
    height: auto;
    object-fit: cover /* 画像を切りとらない */
}

.review-form-item {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.review-form-item h6 {
    width: 200px; /* タイトルの固定幅を設定 */
    margin: 0;
    font-weight: bold;
}

.review-form-item span {
    margin-left: 200px; /* タイトルの幅と同じスペースを確保 */
    display: block;
    font-size: 0.9rem;
    color: #666;
}

.review-form-input, .spice-level {
    flex-grow: 1; /* 残りのスペースを占有 */
}

.spice-level i {
    font-size: 30px;
    cursor: pointer;
    color: #cccccc; /* デフォルトの色 */
    margin-right: 5px;
}

.spice-level i.selected {
    color: red !important; /* 選択されたアイコンの色 */
}

.review-form .btn {
    border: 4px solid white;
    border-radius: 10px;
    width: 200px;
    font-weight: bold; /* 文字を太くする */
    font-size: 1.5rem;
}

/* 食品レビュー投稿画面（page#about）のCSS（8/23追加） */
.about-form {
    position: absolute;
    padding: 3em 1em;
    width: 960px;
    background: #fff;
}











/* 
---------------------------------------------
ログイン画面のCSS（8/15追加）
--------------------------------------------- 
*/

.form-wrapper {
    background: #fafafa;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}


form {
    padding: 0 1.5em;
}

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}

.form-item input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
}

.form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.form-footer {
    font-size: 1em;
    padding: 2em 0;
    text-align: center;
}

.form-footer a {
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s;
}

.form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
}

